@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @{
            Response.Write("<br />/***************************************************/<br />");
            Response.Write(string.Join("<br />", HttpContext.Current.ApplicationInstance.Modules.AllKeys));
            Response.Write("<br />/***************************************************/<br />");
        }
    </div>
</body>
</html>
